*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 15px;
}
.calulator{
    display:flex;
    flex-direction: column;
    width: 700px;
    border: 1px solid gray;
}
.calculator-display{
    padding: 25px 15px;
    font-size: 2rem;
    width: 700px;
    text-align: right;
    border: 1px solid gray;
    overflow-x: auto;
}
.calculator-keypad{
    font-size: 2rem;
    display: flex;
    width: 100%;
}
.keypad-numbers{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.keypad-button{
    width: 25%;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border: 1px solid gray;
}
.keypad-button:hover{
    filter: brightness(80%);
    transition: filter .25s;
    cursor: pointer;
}
.keypad-button-yellow{
    background-color: yellow;
    text-align: center;
    border: 1px solid gray;
    width: 25%;
    cursor: pointer;
}
.keypad-button-yellowb{
    background-color: yellow;
    text-align: center;
    border: 1px solid gray;
    width: 25%;
    cursor: pointer;
    height: 25%;  
}
.keypad-button-gray{
    width: 25%;
    text-align: center;
    background-color: gray;
    cursor: pointer;
}
.keypad-button-large{
    width: 50%;
    text-align: center;
    border: 1px solid gray;
    cursor: pointer;
}
.keypad-button-cero{
    width: 50%;
    text-align: center;
    border: 1px solid gray;
    cursor: pointer;
}
